# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
#_libgcc_mutex==0.1
#_openmp_mutex==4.5
blas
boto3
botocore
brotlipy
bzip2
ca-certificates
certifi
cffi
charset-normalizer
click
cryptography
cudatoolkit
ffmpeg
filelock
freetype
giflib
gmp
gnutls
idna
importlib-metadata
intel-openmp
jmespath
joblib
jpeg
lame
lcms2
ld_impl_linux-64
libffi
libgcc-ng
libgfortran-ng
libgfortran4
libgomp
libiconv
libidn2
libpng
libstdcxx-ng
libtasn1
libtiff
libunistring
libuv
libwebp
libwebp-base
lz4-c
mkl
mkl-service
mkl_fft
mkl_random
ncurses
nettle
ninja
numpy
numpy-base
olefile
openh264
openssl
packaging
pillow
pip
pycparser
pyopenssl
pyparsing
pysocks
python==3.7.11
python-dateutil==2.8.2
pytorch=1.7.0=py3.7_cuda11.0.221_cudnn8.0.3_0
pytorch-mutex=1.0=cuda
pyyaml
quadprog
readline
regex
requests
s3transfer
sacremoses
scikit-learn
scipy
setuptools
six
sqlite
threadpoolctl
tk
tokenizers
torchaudio
torchvision
tqdm
transformers=4.10.2
typing_extensions
urllib3
wheel
xz
zipp
zlib
zstd